main {
  width: 100%;
  margin-top: 120px;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 90%;
  margin: auto;
  padding: 15px;
}

.presentation h5 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: rgb(93, 93, 93);
  margin-bottom: 28px;
}

.presentation h2 {
  font-size: 66px;
  color: rgb(93, 93, 93);
}

.h1Color {
  font-size: 66px;
  color: #4a95d2;
}

.image img {
  width: 348px;
  margin-right: 44px;
}

button {
  cursor: pointer;
  padding: 10px 26px;
  font-weight: 800;
  border: 1px solid #4a95d2;
  color: rgb(255, 255, 255);
  border-radius: 23px;
  font-size: 15px;
  background-color: #4a95d2;
  margin-top: 28px;
}

button:hover {
  background-color: white;
  color: #4a95d2;
  border: 1px solid #4a95d2;
}

@media (max-width: 900px) {
  .presentation h5 {
    font-size: 18px;
  }
  .presentation h2 {
    font-size: 39px;
  }
  .h1Color {
    font-size: 40px;
  }
  .image img {
    width: 308px;
    margin-right: 0px;
    margin-top: 40px;
  }
}

@media (max-width: 690px) {
  main {
    display: flex;
  }
  main .container {
    display: flex;
    flex-flow: column;
  }
  .presentation h5 {
    font-size: 16px;
  }
  .presentation h2 {
    font-size: 46px;
  }
  .h1Color {
    font-size: 46px;
  }

  .image img {
    width: 308px;
    margin-right: 0px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  main {
    display: flex;
  }
  main .container {
    display: flex;
    flex-flow: column;
  }
  .presentation h5 {
    font-size: 14px;
  }
  .presentation h2 {
    font-size: 36px;
  }
  .h1Color {
    font-size: 36px;
  }
}

@media (max-width: 390px) {
  main {
    display: flex;
    margin-top: 4px;
  }
  main .container {
    display: flex;
    flex-flow: column;
  }
  .presentation h5 {
    font-size: 16px;
  }
  .presentation h2 {
    font-size: 29px;
  }
  .h1Color {
    font-size: 29px;
  }
  .image img {
    margin-top: 23px;
  }
  button {
    padding: 10px 24px;
    font-size: 12px;
  }
}
@media (max-width: 340px) {
  main {
    display: flex;
    margin-top: 69px;
  }
  .presentation h5 {
    font-size: 16px;
  }
  .presentation h2 {
    font-size: 24px;
    line-height: 45px;
  }
  .h1Color {
    font-size: 24px;
  }
  .image img {
    width: 257px;
    margin-right: 0px;
    margin-top: 50px;
  }
}
