.container_about {
  background-color: #4a95d2;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  margin: 60px auto;
  padding: 15px;
  border-radius: 10px;
}

.container_about h1 {
  color: white;
  font-size: 50px;
  margin: 20px 0 40px;
}

.container_about p {
  color: white;
  font-size: 20px;
  padding: 0px 10px;
  line-height: 40px;
  margin: 0 0 40px;
}

@media (max-width: 690px) {
  .container_about h1 {
    font-size: 35px;
  }
}
