.container .projetos {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}

.container .projetos h1 {
  color: rgb(93, 93, 93);
  font-size: 50px;
  margin: 20px 0 40px;
  text-align: center;
}
.container .projetos p {
  color: rgb(93, 93, 93);
  font-size: 19px;
  padding: 0px 10px;
  line-height: 36px;
  margin: 0 0 40px;
  text-align: left;
  padding-right: 40px;
}
.projetos_cards {
  display: flex;
  flex-wrap: wrap;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 404px;
  margin: 20px;
}

.custom-card-media {
  border-radius: 8px 8px 0 0;
}

.custom-card-content {
  padding: 6px;
}

.custom-card-content .custom-card-content_p {
  padding: 6px;
  color: rgb(93, 93, 93);
  font-size: 15px;
  line-height: 27px;
  margin: 0;
}

.custom-card-content .custom-card-content_p.custom-modified-text {
  color: rgb(93, 93, 93);
  font-size: 15px;
  line-height: 27px;
  margin: 0;
}
.custom-card .custom-button {
  color: #4a95d2;
  font-weight: 900;
  font-size: 14px;
  text-decoration: none;
  margin: 0px 20px;
  transition: color 0.3s ease;
}
.custom-card .custom-button:hover {
  color: rgb(93, 93, 93);
}

@media (max-width: 400px) {
  .container .projetos p {
    padding: 0;
  }
  .container .projetos {
    margin: -45px auto;
  }
}
